*{
    margin: 0;
    font-family: 'Inter';
}

/* header styles */

.header{
    background-image: url(../images/donation15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
    text-align: center;
}

.header-title{
    color: #fff;
    padding-top: 174px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    
}

.header-text{
    font-family: 'Poppins';
    color: #fff;
    
    
}

.donate-now{
    color: #fff;
    background: #FF5959;
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 56px;
    padding: 16px 12px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
}

main{
    text-align: center;

}

.donate-amount p{
    color: #707070;
    margin-top: 20px;
}


h2{
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
}

.amounts{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 60px;
}

.donate-plan p{
    color: #707070;
    margin-top: 20px;
}

.helping-plan{
    display: flex;
    gap: 24px;
    text-align: left;
    margin: 50px 200px;
}

h4{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
}

.helping-plan p{
    color: #707070;
    margin-top: 16px;
}

.donate-food{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 60px 20px;
}

.donate-shelter{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 60px 20px;
}

.donate-education{
    background: rgb(255, 244, 214);
    border-radius: 5px;
    padding: 60px 20px;
}